:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --cardBG: rgb(225, 225, 236);
  --bodyColor: rgb(240, 240, 246);
  --logoColor: rgb(40, 19, 6);
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.left {
  flex: 3;
}
.right {
  flex: 3;
}

.about-subhending {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  span {
    padding: 0.5rem;
    border-radius: 8px;
  }
}
.about-heading {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about-info {
  margin-bottom: 4rem;
  text-align: justify;
  text-justify: inter-word;
}

.right {
  .img {
    // border: 2px solid var(--blackColor);
    border-radius: 5px;
    height: 700px;
    width: 110%;
    margin-top: 90px;
  }
}

@media only screen and(max-width: 768) {
  .top-section {
    display: grid;
    place-items: center;
    flex-direction: column;
    gap: 2rem;
  }
}

.content {
  color: azure;
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--whiteColor);
}

@media (max-width: 768px) {
  .photo {
    width: 100%;
    height: 300px;
  }
  .content {
    color: rgb(212, 238, 238);
    position: absolute;
    top: 25%;
    left: 6%;
    text-align: center;
    font-size: 1rem;
  }
}
@media (min-width: 1500px) and (max-width: 2560px) {
  .photo {
    width: 100%;
    height: 700px;
  }

  .content {
    color: azure;
    position: absolute;
    top: 30%;
    left: 37%;
    text-align: center;
  }
}
